<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="SoCalBeaches4Life"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoCalBeach4LifeReal"
        tools:targetApi="31">
        <activity
            android:name=".DeleteReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ViewRoutesActivity"
            android:exported="false" />
        <activity
            android:name=".DisplayBeachesActivity"
            android:exported="true"
            />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC0bF1q80VY5W1vD73VCb45NMEU4mUvHsg" />

        <activity
            android:name=".ViewRestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".FindRestaurantsActivity"
            android:exported="false" />
        <activity
            android:name=".LeaveReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ReadReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterUser"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>